<div class="container">
    <h2>Crear Sitio</h2>
    <form action="/action_page.php">
      <div class="form-group">
        <label for="name">Nombres</label>
        <input type="text" class="form-control" id="nomb" placeholder="Ingrese su nombre" name="nombre">
      </div>
      <div class="form-group">
        <label for="name">Cantidad de Personas:</label>
        <input type="text" class="form-control" id="cantPersonas" placeholder="Ingrese la cantidad de personas" name="cantPersonas">
      </div>
      <div class="form-group">
        <label for="name">Cantidad de dias:</label>
        <input type="text" class="form-control" id="cantDias" placeholder="Ingrese los dias" name="cantDias">
      </div>
      <div class="form-group">
        <label for="name">Descripcion:</label>
        <input type="text" class="form-control" id="descripcion" placeholder="Ingrese una Decripcion del lugar" name="descripcion">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>